.contain
  %section.home.active
    %h1.title Home
  %section.about
    %h1.title About
  %section.work
    %h1.title Work
  %section.contact
    %h1.title Contact
%a.toggle{:href => "#"}
  %span.bar
  %span.bar
  %span.bar